Flask[async]~=3.1.1
jpype1
Flask-CORS
matplotlib
networkx
nltk
openai
pandas
pydantic>=2.0,<2.10
pytest
pytest-asyncio
pytest-mock
pytest-playwright
python-dotenv
scikit-learn
# scipy>=1.15.1
sentence-transformers
semantic-kernel==1.32.2
numpy
spacy
coverage
clingo
unidecode
markdown

playwright
