Flask[async]~=3.1.1
jpype1==1.5.0
Flask-CORS
matplotlib
networkx==3.4.2
nltk
openai
pandas
pydantic>=2.0,<2.10
pytest
pytest-asyncio
pytest-mock
python-dotenv
scikit-learn
scipy==1.15.3
sentence-transformers
semantic-kernel==1.29.0
numpy<2.0
spacy
coverage
clingo
unidecode
markdown
