[run]
source = argumentation_analysis
omit = 
    */__pycache__/*
    */tests/*
    */venv/*
    */env/*
    */.venv/*
    */site-packages/*
    */dist-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov
title = Rapport de couverture - Projet d'Analyse Argumentative

[xml]
output = coverage.xml
